bin/
obj/
dep/
build/

bochsout.txt
bochs_com1.txt
bochs_par1.txt

# VSCode

.vscode/*
#!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Windows

Thumbs.db
Desktop.ini
